<div class="w-full">
  <% if notice.present? %>
    <div class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl">Links</h1>
    <%= link_to "New link", new_link_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="links" class="min-w-full">
    <% if @links.any? %>
      <% @links.each do |link| %>
        <div class="mb-6 p-4 bg-white border border-gray-300 rounded-lg shadow-md">
          <p class="text-gray-700">
            <span class="font-semibold">Original URL:</span> <%= link.url %><br>
            <span class="font-semibold">Short URL:</span> <%= "#{Rails.application.routes.default_url_options[:host]}/l/#{link.slug}" %><br>
            <span class="font-semibold">Type:</span> <%= link.type %><br>
            <% if link.name.present? %>
              <span class="font-semibold">Name:</span> <%= link.name %><br>
            <% end %>
            <% if link.expiration_date.present? %>
              <span class="font-semibold">Expiration date:</span> <%= link.expiration_date %><br>
            <% end %>
            <% if link.accessed.present? %>
              <span class="font-semibold">Accessed:</span> <%= link.accessed %><br>
            <% end %>
            <%= link_to 'Show', link_path(link.id), class: "text-blue-500 font-medium hover:underline" %>
          </p>
        </div>
      <% end %>
      <div class="text-center my-4 flex items-center -mx-1">
        <div class="mx-auto">
          <%= paginate @links %>
        </div>
      </div>
    <% else %>
      <p class="text-gray-700">You don't have any links yet. <%= link_to 'Create a new link', new_link_path, class: "text-blue-500 font-medium hover:underline" %>.</p>
    <% end %>
  </div>
</div>

