<div class="mx-auto md:w-2/3 w-full">
  <h2 class="font-bold text-4xl">Enter Password</h2>

  <% if flash[:error] %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= form_tag({ controller: 'links', action: 'verify_password' }, method: 'post', class: "mt-4") do %>
    <div class="mb-4">
      <%= label_tag 'password', 'Password:', class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= password_field_tag 'password', nil, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
    </div>

    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>

    <%= submit_tag 'Submit', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  <% end %>
</div>
